@model IEnumerable<CrudTreino.Models.Carro>

@{
    Layout = "_Layout";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Modelo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Placa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pessoa)
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model)
    {
           <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.Nome)
                </td>
            </tr>
    }
    
        </tbody>
    </table>
</body>